#grid-container{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 85vmin;
    height: 85vmin;
    row-gap: 1vmin;
    column-gap: 1vmin;
    background: rgba(255,255,255,0.4);
    padding: 40px;
    border-radius: 5vmin;
    backdrop-filter: blur(5px);
}
div.black, div.white{
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: Calc(76vmin/8);
    height: Calc(76vmin/8);
    border-radius: 2vmin;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.20);
}
div.black >img, div.white > img {
width: 50%;
-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.6));
}
div.black{
    background-color: rgba(0,0,0,0.7);
}
div.white{
    background-color: rgba(255,255,255,0.7)
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(176, 87%, 62%, 1) 22%, hsla(252, 73%, 60%, 1) 84%);
}
body{
    margin: 0;
    padding: 0;
}
.panel{
height: 85vmin;
width: 35vmin;
background: rgba(255,255,255,0.4);
border-radius: 5vmin;
right: 2vmin;
margin-left: -70px;
backdrop-filter: blur(5px);
}
#Królowa{
    margin-left: -100px;
    margin-top: 100px;
}
.panel header{
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.20);
    border-radius: 15px;

}
.panel header h1{
    margin: 0;
    display: inline;
    font-size: 1.5rem;
}
.panel header p{
    margin: 0;
    font-size: 1rem;
}
.Tura-wrapper{
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tura{
    height: 60px;
    width: 100%;
    margin-right: 2px;
    box-shadow: inset 3px 3px 15px rgba(0,0,0,0.10);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Timer{
    margin-left: 2px;
    height: 60px;
    width: 100%;
    box-shadow: inset 3px 3px 15px rgba(0,0,0,0.10);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wrapper{
    margin-top: 20px;
    margin-left: 30px;
    box-shadow:  3px 3px 15px rgba(0,0,0,0.20);
    width: 80%;
    height: 7vmin;
    border-radius: 15px;
    justify-content: center;
}
.btn-wrapper button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}
.Killed-wrapper{
    margin-top: 20px;
    margin-left: 30px;
    box-shadow: inset 3px 3px 15px rgba(0,0,0,0.20);
    width: 80%;
    height: 500px;
    border-radius: 15px;
}

